html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
} 
.container {
    margin: 90px; ;
    padding: 60 68 40;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    fill-opacity: 50%;
    margin-top: 0px;
    margin-bottom: 90px;
    margin-left: 35%;
    color:white;
    margin-right: 34%;
    border: 2px solid black;
    border-radius: 10px;
    cursor: no-drop;
    backdrop-filter: blur(2px);
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.788);
  
    }
    .container :hover{
     letter-spacing: 50%; 
    }
    h1{
      font-size: 35px;
      bottom: 10px;
      margin: 28px;
      text-align: left;

    }
    body{
      
      min-height: 660px;
      background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/c38a2d52-138e-48a3-ab68-36787ece46b3/eeb03fc9-99c6-438e-824d-32917ce55783/IN-en-20240101-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: black;
      font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
      font-size: 16px;
      direction: ltr;;
    }

    
    input{
      background-color: rgb(48, 46, 46); height: 45px; border-radius: 4px;
      font-size: 15px;
      color: aliceblue;
      position: relative;
    }

    button{
      background-color: #e50914;cursor: pointer;
      width: 100%;
      max-width: 100%;
      margin: 24px 0 12px;
      font-weight: 500;
      border-radius: 4px;
      font-size: 16px;
      padding: 16px;
      display: inline-block;
      line-height: 1em;
      min-height: 37px;
      min-width: 98px;
      position: relative;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      box-sizing: border-box;
      letter-spacing: .1px;
      text-decoration: none;
      user-select: none;
      vertical-align: middle;
      -webkit-appearance: button;
      overflow: visible;
      font: inherit;
    }
    .ancor{
      size: 20px;
      color: rgb(26, 23, 23);
    }
    a:link{
      color: #e50914;
      text-decoration: none;
    }
    a:visited{
      color: whitesmoke;
      text-decoration: none ;
    }
    a:hover{
      color: whitesmoke;
      text-decoration: underline ;
    }
    a{
      color: whitesmoke;
      flex-direction: column;
      touch-action: cross-slide-x;
    }

